.maindiv {
    position:relative;
    top: 0; left: 0; right: 0; bottom: 0;
    align-content: center;
    margin: auto;
    width: 75%;
    height:100%;
    background-color: #616161;
    
    border: 0px solid;
    border-radius: 20px;
    background-color:#ffffff;
    box-shadow: 0px 0px 15px #555;
    
    min-width: 400px;
    max-width: 512px;
    
    display:none;
}

.startdiv {
    position:relative;
    top: 0; left: 0; right: 0; bottom: 0;
    align-content: center;
    margin: auto;
    width: 75%;
    height:600px;
    background-color: #616161;
    
    border: 0px solid;
    border-radius: 20px;
    background-color:#ffffff;
    box-shadow: 0px 0px 15px #555;
    
    min-width: 400px;
    max-width: 512px;
    
    display:block;
}

.mainimage
{
    position:relative;
    width:375px;
    height:375px;
    
    margin-top:20px;
    border:0px solid;
    border-radius: 70px;
    background-color:#555;
    box-shadow: 5px 5px 40px #555;
}

.hotButton {
    width: 25%;
    align-self: left;
    margin-right: 80px;
    margin-top: 10px;
    background:url("img/ui/desert.jpg");
    border-radius: 10px;
    float: none;
    
    padding:10px;
    
    -webkit-filter: grayscale(1) drop-shadow(0px 0px 20px #555);
}

.notButton {
    width: 25%;
    align-self: right;
    margin-left: 25px;
    margin-top: 10px;
    background:url("img/ui/ice.jpg");
    border-radius: 10px;
    float: none;
    
    padding:10px;
    
    -webkit-filter: grayscale(1) drop-shadow(0px 0px 20px #555);
}

.hotButton:hover {
    width: 25%;
    align-self: left;
    transform:scale(1.1);
    -webkit-filter: grayscale(0) drop-shadow(0px 0px 40px rgb(228, 127, 33));
}

.notButton:hover {
    width: 25%;
    align-self: right;
    transform:scale(1.1);
    -webkit-filter: grayscale(0) drop-shadow(0px 0px 40px rgb(63, 219, 213));
}

.scoreLabel {
    margin-top:50px;
    font-family:sans-serif;
    font-size: 24px;
}

.timerLabel {
    margin-top: 25px;
    font-family:sans-serif;
    font-size: 24px;
}

.startButton {
    width: 25%;
    align-self: left;
    margin-right: 80px;
    margin-top: 10px;
    border-radius: 10px;
    float: none;
    
    padding:10px;
    
    -webkit-filter: grayscale(1) drop-shadow(0px 0px 20px #555);
}

.startButton:hover {
    width: 25%;
    align-self: left;
    transform:scale(1.1);
    -webkit-filter: grayscale(0) drop-shadow(0px 0px 40px rgb(228, 127, 33));
}