.maindiv {
    margin-top:75px;
    align-content: center;
    width: 100%;
    height:460px;
    background-color: #e05126;
    
    display:none;
}

h1 {
    background-color:#ffffff;
    border-radius:7px;
    box-shadow: 0 0 10px;
    margin-top: -60px;
}

.startdiv {
    margin-top:75px;
    align-content: center;
    width: 100%;
    height:460px;
    background-color: #267ce0;
    
    display:block;
}

.mainimage
{
    position:relative;
    width:375px;
    height:375px;
    
    margin-top:40px;
    border:0px solid;
    border-radius: 70px;
    background-color:#555;
    box-shadow: 5px 5px 40px #555;
}

.hotButton {
    width: 25%;
    align-self: left;
    margin-right: 80px;
    margin-top: 10px;
    background:url("img/ui/desert.jpg");
    border-radius: 10px;
    float: none;
    
    padding:10px;
    
    -webkit-filter: grayscale(1) drop-shadow(0px 0px 20px #555);
}

.notButton {
    width: 25%;
    align-self: right;
    margin-left: 25px;
    margin-top: 10px;
    background:url("img/ui/ice.jpg");
    border-radius: 10px;
    float: none;
    
    padding:10px;
    
    -webkit-filter: grayscale(1) drop-shadow(0px 0px 20px #555);
}

.hotButton:hover {
    width: 25%;
    align-self: left;
    transform:scale(1.1);
    -webkit-filter: grayscale(0) drop-shadow(0px 0px 40px rgb(228, 127, 33));
}

.notButton:hover {
    width: 25%;
    align-self: right;
    transform:scale(1.1);
    -webkit-filter: grayscale(0) drop-shadow(0px 0px 40px rgb(63, 219, 213));
}

.scoreLabel {
    margin-top:50px;
    font-family:sans-serif;
    font-size: 24px;
}

.timerLabel {
    margin-top: 50px;
    font-family:sans-serif;
    font-size: 24px;
}

.startButton {
    width: 200px;
    background-color: #838cac;
    align-self: left;
    margin-top: 300px;
    border-radius: 10px;
    float: none;
    box-shadow: 0px 0px 20px #000;
    
    padding:10px;
}

.startButton:hover {
    width: 200px;
    align-self: left;
    transform:scale(1.1);
}