.maindiv {
    margin-top:75px;
    align-content: center;
    width: 100%;
    height:460px;
    
    background: #ea4d50; /* Old browsers */
    background: -moz-linear-gradient(top,  #ea4d50 16%, #a90329 49%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#ea4d50), color-stop(49%,#a90329)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ea4d50 16%,#a90329 49%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ea4d50 16%,#a90329 49%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ea4d50 16%,#a90329 49%); /* IE10+ */
    background: linear-gradient(to bottom,  #ea4d50 16%,#a90329 49%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4d50', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */

    display:none;
}

h1 {
    margin-top: -60px;
}

.startdiv {
    margin-top:75px;
    align-content: center;
    width: 100%;
    height:460px;

    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 12%, #4096ee 51%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#7abcff), color-stop(51%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7abcff 12%,#4096ee 51%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7abcff 12%,#4096ee 51%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7abcff 12%,#4096ee 51%); /* IE10+ */
    background: linear-gradient(to bottom,  #7abcff 12%,#4096ee 51%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

    
    display:block;
}

.mainimage
{
    position:absolute;
    width:375px;
    height:375px;
    
    left:calc(50% - 187px);
    
    margin-top:60px;
    border:0px solid;
    border-radius: 70px;
    background-color:#555;
    box-shadow: 5px 5px 40px #555;
}

.hotButton {
    position:absolute;
    left:calc(50% - 200px);
    width: 150px;
    align-self: left;
    margin-right: 80px;
    margin-top: 510px;
    background:url("img/ui/desert.jpg");
    border-radius: 10px;
    float: none;
    
    padding:10px;
    
    -webkit-filter: grayscale(1) drop-shadow(0px 0px 20px #555);
}

.notButton {
    position:absolute;
    left:calc(50% + 50px);
    width: 150px;
    margin-top: 510px;
    background:url("img/ui/ice.jpg");
    border-radius: 10px;
    float: none;
    
    padding:10px;
    
    -webkit-filter: grayscale(1) drop-shadow(0px 0px 20px #555);
}

.hotButton:hover {
    width: 150px;
    align-self: left;
    transform:scale(1.1);
    -webkit-filter: grayscale(0) drop-shadow(0px 0px 40px rgb(228, 127, 33));
}

.notButton:hover {
    width: 150px;
    align-self: right;
    transform:scale(1.1);
    -webkit-filter: grayscale(0) drop-shadow(0px 0px 40px rgb(63, 219, 213));
}

.scoreLabel {
    position:absolute;
    width:200px;
    margin-left:calc(50% - 115px);
    margin-top:20px;
    font-family:sans-serif;
    font-size: 24px;
}

.startButton {
    width: 200px;
    background-color: #838cac;
    align-self: left;
    margin-top: 300px;
    border-radius: 10px;
    float: none;
    box-shadow: 0px 0px 20px #000;
    
    padding:10px;
}

.startButton:hover {
    width: 200px;
    align-self: left;
    transform:scale(1.1);
}

/* thermometer */

.thermometer {
    position:absolute;
    left:calc(50% + 220px);
    top:90px;
    height:320px;
    width:70px;
    margin-top:60px;
}

.whiteball {
    position:absolute;
    bottom:0px;
    border-radius: 35px;
    width: 70px;
    height:70px;
    border-style:solid;
    border-width: 5px;
    border-color:#000;
    background-color: #ffffff;
}

.whitebar {
    position:absolute;
    top:20px;
    left:calc(50% - 15px);
    width: 30px;
    height:260px;
    background-color: #ffffff;
}

.whitetop {
    position:absolute;
    border-radius: 30px;
    top:0px;
    left:calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-style:solid;
    border-width: 5px;
    border-color:#000;
    background-color: #ffffff;
}

.blackborder {
    position:absolute;
    top: 20px;
    left:calc(50% - 20px);
    width: 40px;
    height:260px;
    background-color: #000;
}

.redbar {
    position:absolute;
    bottom:40px;
    left:calc(50% - 13px);
    border-radius: 28px;
    width: 26px;
    height:272px;
    background-color: #f00;
}

.redball {
    position:absolute;
    bottom:7px;
    left:calc(50% - 28px);
    border-radius: 28px;
    width: 56px;
    height:56px;
    background-color: #f00;
}

